:root {
    --color-primario: #D32F2F; /*Rojo del header*/
    --color-secundario: #B71C1C; /*Rojo mas oscuro para hover*/
    --color-texto: #333;
    --color-fondo: #f4f4f4;
    --blanco: #ffffff;
    --gris-claro: #e0e0e0;
}

/*Header y Nav*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

/*HEADER Y NAV*/
header {
    background-color: var(--blanco);
    padding: 10px 20px;
    border-bottom: 1px solid var(--gris-claro);
}

header h1 {
    color: var(--color-primario);
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav {
    background-color: var(--color-primario);
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

nav a {
    color: var(--blanco);
    text-decoration: none;
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    transition: background 0.3s;
}

nav a:hover {
    background-color: var(--color-secundario);
}

.activo {
    background-color: var(--color-secundario);
}

p.error{
    color: red;
}
p.estado{
    color: green;
}
#eliminar_icono, #editar_icono {
    width: 35px;
    height: auto;
}
.txt_busqueda{
    width: 60%; 
    padding: 10px;
    font-size: 16px;    
}
.btn_buscar{
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer;
}